body {
	font-family: verdana;
}

#container{
	margin: auto;
	width: 80%;
}

.title, .author, .comments{
	position: relative;
	border-style: solid;
	border-color: black;
	top: 0px;
	left: 120px;
	width: 80%;
}

img{
	border-style: solid;
	border-color: black;
	float: left;
	margin: 10px;
	width: 10%;
	position: relative;
	top: 0px;
	left: 0px;
}

.listing {
	border-style: solid;
	border-color: black;
	/*position: relative;*/
}
